<form class="form-inline col-sm-12 mb-5 mt-5 overflow-hidden " [formGroup]="form">
  <div class="offset-8">
  <input class="form-control mr-sm-2 " type="search" placeholder="Buscar" aria-label="Search" formControlName="nome">
  <button class="btn btn-outline-success my-2 my-sm-0 " type="submit " (click)="buscarNomeDigitado()">Buscar</button>
  </div>
</form>
<form class="row d-flex flex-row justify-content-around">
  <div class="card" style="width: 12rem;" *ngFor=" let h of herois">
    <img src="{{h.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" >{{h.name}}</h5>
      <p class="card-text">{{h.biography["full-name"]}} <br>{{h.biography["first-appearance"]}} </p>
      <a href="#" class="btn btn-primary" routerLink="heroi/{{h.id}}">Ver Detalhes</a>
    </div>
  </div>
</form>
