<form [formGroup]="form" class="align-content-center col-sm-12">
  <div class="form-group  col-sm-4 offset-4">
    <h3 class="text-center mt-3">Login</h3>
    <div class="form-group">
      <label for="usuario">Usuario: </label>
      <input class="form-control " id="usuario" type="text" formControlName="usuario"/>
    </div>
    <div class="form-group">
      <label for="senha">senha: </label>
      <input class="form-control" id="senha" type="password" formControlName="senha"/>
    </div>
    <button (click)="logar()"  type="submit" class="btn btn-primary">Login</button>
  </div>
</form>


