<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="exibirMenu">
  <span class="navbar-brand"  class="fontCapitanAmerica" spam="#">Super Herois</span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Lista de Herois <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-xl">
  <router-outlet></router-outlet>
</div>
