<form >
  <div *ngIf="herois" class="card mt-5 row col-sm-12">

    <div class="card-body row">
      <div class="col-sm-6">
        <img src="{{herois.image.url}}" class="card-img-top" style="width: 350px">
      </div>
      <div class="col-sm-6">
        <h3 class="card-title">{{herois.name}}</h3>
        <h4>Biografia</h4>
        <p class="card-text">Nome completo: {{herois.biography["full-name"]}}</p>
        <p>Alter Ego: {{herois.biography["alter-egos"]}}</p>
        <p>Apelido: {{herois.biography.aliases}}</p>
        <p>Local de Nascimento:  {{herois.biography["place-of-birth"]}}</p>
        <p>Primeira aparição: {{herois.biography["first-appearance"]}}</p>
        <p>Publicado: {{herois.biography.publisher}}</p>
      </div>
      <div class="col-sm-6">
      <h4>Aparencia</h4>
      <p> Gênero sexual: {{herois.appearance.gender}}</p>
      <p> Raça: {{herois.appearance.race}}</p>
      <p>Altura: {{herois.appearance.height}}</p>
      <p>Peso: {{herois.appearance.weight}}</p>
      <p>Cor dos olhos: {{herois.appearance["eye-color"]}}</p>
      <p>Cor do cabelo: {{herois.appearance["hair-calor"]}}</p>
        </div>
      <div class="col-sm-6">
      <h4>Trabalho</h4>
      <p>Ocupação: {{herois.work.occupation}}</p>
      <p>Base: {{herois.work.base}}</p>
      </div>
      <div class="col-sm-6">
      <h4>Conexões</h4>
      <p>Afiliação de Grupo: {{herois.connections["group-affiliation"]}}</p>
      <p>Parentes: {{herois.connections.relatives}}</p>
      </div>
    </div>
  </div>
</form>
