
body {
  background-image: url("assets/img/background.jpg");
  background-size: cover;
}

@font-face {
  font-family: 'CapitanAmerica';
  src: url('assets/fonts/American Captain.ttf');
}

.fontCapitanAmerica{
  font-family: CapitanAmerica;
  font-size: 40px;
}
